<div class="sidebar-wrapper">
  <div class="logo">
    <a href="/dashboard" class="simple-text">
      Student Management System
    </a>
  </div>

  <ul class="nav">
    <li>
      <a href="/dashboard">
        <i class="pe-7s-graph"></i>
        <p>Dashboard</p>
      </a>
    </li>
    <li>
      <a href="/user">
        <i class="pe-7s-user"></i>
        <p>User Profile</p>
      </a>
    </li>
    <li>
      <a href="/table">
        <i class="pe-7s-note2"></i>
        <p>Table List</p>
      </a>
    </li>
    <li th:if="${session.user_role == 1}">
      <a href="/course">
        <i class="pe-7s-notebook"></i>
        <p>Course Management</p>
      </a>
    </li>
    <li th:if="${session.user_role == 1}">
      <a href="/teacherTable">
        <i class="pe-7s-notebook"></i>
        <p>Course Table</p>
      </a>
    </li>
    <li th:if="${session.user_role == 0}">
      <a href="/studentTable">
        <i class="pe-7s-notebook"></i>
        <p>Course Table</p>
      </a>
    </li>
    <li th:if="${session.user_role == 0}">
      <a href="/studentDrop">
        <i class="pe-7s-notebook"></i>
        <p>Drop course</p>
      </a>
    </li>

  </ul>
</div>