<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"></html>

<head lang="en" th:insert="_header::header">
</head>
<body>

<div class="wrapper" id="app">
    <div class="sidebar" data-color="balck" >

        <!--

            Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
            Tip 2: you can also add an image using data-image tag

        -->

        <div th:replace="_left.html"/>
    </div>

    <div class="main-panel">
        <div th:replace="_topright.html"/>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card" th:if="${session.user_role == 0}">

                            <div class="header">
                                <h4 class="title">Course statistics</h4>
                            </div>
                            <div class="content">
                                <form>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Total Credits</label>
                                                <input type="text" class="form-control" disabled placeholder="Total Credits" v-model="user.credit">
                                            </div>
                                        </div>

                                    </div>

<!--                                    <div class="row">-->
<!--                                        <div class="col-md-8">-->
<!--                                            <div class="form-group">-->
<!--                                                <label>Total Courses Taken</label>-->
<!--                                                <input type="text" class="form-control" disabled placeholder="User Name" th:value="${session.courses}">-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->

                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Average Grade</label>
                                                <input type="text" class="form-control" disabled placeholder="Account Number" v-model="average">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


        <footer class="footer" th:insert="_bottom::footer">

        </footer>

    </div>
</div>


</body>

<div th:replace="_footer.html"/>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            user: JSON.parse(localStorage.getItem("user")),
            form: {
                password: null,
                passwordConfirm: null,
            },
            msg:null,
            average:0
        },
        methods:{
            toRole(num){
                return num===0?'Student':'Teacher'
            },
            modifyPassword() {
                let that = this;
                let {password, passwordConfirm} = that.form
                if (password && password === passwordConfirm && password != '') {
                    const res = modifyPwd(password);
                    if (res.code === 200) {
                        window.location.href = "/"
                        that.msg = "Password change success"
                    } else {
                        alert(res.message)
                    }
                } else if (password === passwordConfirm){
                    alert("Password can't be empty")
                } else{
                    alert("Two Passwords are not consistent, please re-enter")
                }
            },
            averageGrade(){
                const res= avgGrade()
                if(res.code===200){
                    this.average=res.data
                }else{
                    alert(res.message)
                }

            }
        },
        // computed:{
        //     toRole(num){
        //         return num===0?'Student':'Teacher'
        //     }
        // },
        created() {
            this.averageGrade()
        }
    })
</script>

</html>
