<!doctype html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    .p1 {
        display: none;
    }
</style>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>Hello, world!</title>
</head>

<body>
<div class="text-center">
    <h3>Welcome to Student Management System</h3>
</div>
<div class="container login">
    <form action="/api/user/login" method="post" id="loginForm">

        <div>
            <div class="text-center">
                <p class="p1"></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">

                <div class="form-group">
                    <label for="usrNumber" class="control-label">Account number:</label>
                    <div>
                        <input type="text" class="form-control" id="usrNumber" name="number">
                    </div>
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" name="password">
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <button type="submit" class="btn btn-dark col-md-5" id="loginButton">Login</button>

                <a href="/regist">
                    <button type="button" class="btn btn-dark col-md-5">Register</button>
                </a>
            </div>
            <div class="col-md-4"></div>
        </div>
    </form>
</div>


</body>
<script>
    $(function () {

        $('#loginButton').click(function (e) {
            e.preventDefault();
            // alert('ok');
            number = $('#usrNumber').val();
            password = $('#pwd').val();
            var t = {
                'number': number,
                'password': password
            }

            $.ajax({
                url: "/api/user/login",
                type: "POST",
                data: JSON.stringify(t),
                contentType: "application/json",
                dataType: "json",
                success: function (dt) {
                    let res = dt
                    console.log("success")
                    if (res.code == 200) {
                        window.location.href = "/index"
                    }
                    if (res.code == 500) {
                        $('.p1').show().html(res.message)
                    }
                },
                complete: function (dt) {
                    console.log("not success")
                },
                error: function (dt) {
                    console.log("not success")
                },

            })
        });
    });
</script>

</html>