<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:insert="_header::header">
</head>

<body>

<div class="wrapper" id="app">
    <div class="sidebar" data-color="black">

        <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


        <div th:replace="_left.html"/>
    </div>

    <div class="main-panel">
        <div th:replace="_topright.html"/>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Your Courses</h4>
                                <!--                                <p class="category">Here is a subtitle for this table</p>-->
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <th>Course ID</th>
                                    <th>Course Name</th>
                                    <th>Teacher Name</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th>Credit</th>
                                    <th>Total Students</th>
                                    <th>Course Management</th>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(item,index) in list" :key="index">
                                        <td>{{index+1}}</td>
                                        <td>{{item.name}}</td>
                                        <td>{{item.teacher.name}}</td>
                                        <td>{{item.startTime.split(' ')[0]}}</td>
                                        <td>{{item.endTime.split(' ')[0]}}</td>
                                        <td>{{item.credit}}</td>
                                        <td>{{item.stuNum}}/{{item.limitNum}}</td>
                                        <td>
                                            <button type="button" @click="courseuserDetail(item.id)"
                                                    class="btn btn-info btn-xs" data-toggle="modal" data-target="#modal-detail">
                                                Detail
                                            </button>
                                            <button type="button" @click="archiveById(item.id)" class="btn btn-info btn-xs" >
                                                Archive
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <footer class="footer" th:insert="_bottom::footer">

        </footer>


    </div>
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Course Detail</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-hover">
                        <tr>
                            <th>Index</th>
                            <th>Student Name</th>
                            <th>Student Number</th>
                            <th>Score</th>
                            <th>Operation</th>
                        </tr>
                        <tr v-for="(item,index) in detailList" :key="index">
                            <td>{{index+1}}</td>
                            <td>{{item.student.name}}</td>
                            <td>{{item.student.number}}</td>
                            <td>
                                <input type="number" v-model="item.grade"/>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-xs" @click="saveGrade(item)">
                                    Save
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


</div>


</body>
<div th:replace="_footer.html"/>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            course: {},
            param: {},
            list: [],
            detailList: [],
            msg: null,
        },
        methods: {
            fetch() {
                const res = listCourse(this.param);
                if (res.code === 200) {
                    this.list = res.data
                }
            },
            elective(courseId) {
                const res = electiveByCourseId(courseId);
                if (res.code === 200) {
                    this.fetch()
                } else {
                    alert(res.message)
                }
            },
            courseuserDetail(courseId) {
                const res = courseuserDetail(courseId);
                if (res.code === 200) {
                    this.detailList = res.data
                } else {
                    alert(res.message)
                }
            },
            saveGrade(item) {
                const res = saveGrade(item.id, item.grade);
                if (res.code === 200) {
                    // alert(res.message)
                    this.courseuserDetail(item.courseId)
                }
                alert(res.message)
            },
            archiveById(courseId) {
                const res = archive(courseId);
                if (res.code === 200) {
                    this.fetch()
                }
                alert(res.message)
            },
        },

        created() {
            this.fetch()
        }
    })
</script>

<div th:replace="_footer.html"/>

</html>
