<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"></html>

<head lang="en" th:insert="_header::header">
</head>
<body>

<div class="wrapper" id="app">
    <div class="sidebar" data-color="black">

        <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


        <div th:replace="_left.html"/>
    </div>

    <div class="main-panel">
        <div th:replace="_topright.html"/>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">User Profile</h4>
                            </div>
                            <div class="content">
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>University</label>
                                                <input type="text" class="form-control" disabled
                                                       placeholder="University" value="New York University">
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>User Name</label>
                                                <input type="text" class="form-control" disabled placeholder="User Name"
                                                       v-model="user.name">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Account Number</label>
                                                <input type="text" class="form-control" disabled
                                                       placeholder="Account Number" v-model="user.number">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Role</label>
                                                <input type="text" class="form-control" disabled placeholder="Role"
                                                       :value="toRole(user.role)">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-user">
                            <div class="image">
                                <img src="assets/img/NYU_Long_RGB_Color.png" alt="..."/>
                            </div>
                            <div class="content">
                                <div class="author">
                                    <a href="#">
                                        <img class="avatar border-gray" src="assets/img/faces/face-1.jpg" alt="..."/>

                                        <h4 class="title">Yuan Chen<br/>
                                            <small>yc5118@nyu.edu</small>
                                        </h4>
                                        <br>
                                    </a>
                                </div>
                                <p class="description text-center"> You have only one life, <br>
                                    make the most of it <br>
                                </p>
                            </div>
                            <hr>
                            <div class="text-center">
                                <a href="https://github.com/yuanchen98">
                                    <button class="btn btn-simple">
                                        <i class="fa fa-github"></i>
                                    </button>
                                </a>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Change Password</h4>
                            </div>
                            <div class="content">
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input type="password" class="form-control" id="password"
                                                       v-model="form.password">
                                            </div>
                                        </div>

                                    </div>


                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Confirm your password</label>
                                                <input type="password" class="form-control" id="passwordConfirm"
                                                       v-model="form.passwordConfirm">
                                            </div>
                                        </div>
                                    </div>


                                    <button @click="modifyPassword" class="btn btn-info btn-fill pull-right">Save my new
                                        password
                                    </button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <footer class="footer" th:insert="_bottom::footer">

        </footer>

    </div>
</div>


<div th:replace="_footer.html"/>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            user: JSON.parse(localStorage.getItem("user")),
            form: {
                password: null,
                passwordConfirm: null,
            },
            msg: null
        },
        methods: {
            toRole(num) {
                return num === 0 ? 'Student' : 'Teacher'
            },
            modifyPassword() {
                let that = this;
                let {password, passwordConfirm} = that.form
                if (password && password === passwordConfirm && password != '') {
                    const res = modifyPwd(password);
                    if (res.code === 200) {
                        window.location.href = "/"
                        that.msg = "Password change success"
                    } else {
                        alert(res.message)
                    }
                } else if (password === passwordConfirm) {
                    alert("Password can't be empty")
                } else {
                    alert("Two Passwords are not consistent, please re-enter")
                }
            },
        },
        // computed:{
        //     toRole(num){
        //         return num===0?'Student':'Teacher'
        //     }
        // },
        created() {
        }
    })
</script>
</body>


</html>
